.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3367d6;
  height: 50px;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.Browser-app {
  height: 100vh;
}
.logo {
  height: 20px;
  width: 100px;
  margin-left: 25px;
}
.search-icon {
  width: 30px;
  height: 35px;
  background-color: #2850a7;
  border: 0.7px solid #64748b;
  padding: 5px;
  padding-top: 8px;
  margin-right: 2px;
  margin-left: 450px;
}
.search-bar {
  background-color: #2850a7;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  border: 0.7px solid #64748b;
  padding: 5px;
  height: 35px;
  border-width: 0px;
  outline: none;
  width: 350px;
  padding-left: 10px;
}
.card-container {
  width: 100%;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.history-items-container {
  background-color: #f8fafc;
  box-shadow: 0px 2px 1px 2px #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  width: 80%;
}
::placeholder {
  color: #ffffff;
}
.error-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.error {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
}
.dom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
